<!-- 리스트 4.22 주문 페이지에 로그아웃 버튼 추가하기 -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
  ...
  
  <body>
  
    <form method="POST" th:action="@{/logout}" id="logoutForm">
      <input type="submit" value="Logout"/>
    </form>
    
    <form method="POST" th:action="@{/orders}" th:object="${order}"
          id="orderForm">
      <h1>Order your taco creations!</h1>
      
      <img th:src="@{/images/TacoCloud.png}"/>
      
      <h3>Your tacos in this order<</h3>
      
      <a th:href="@{/design}" id="another">Design another taco</a><br/>
       ...
    </form>
    
  </body>
</html>
